{% extends "layout.html" %}

{% block title %}Dj Builtin Auth Suite{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Django Builtin Auth</h1>
                <h2 class="lead">Utilize full power with just builtins</h2>
                <p class="mt-3">
                    Django Builtin Auth Suite is created to utilize the power of builtins.
                </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
